.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("https://2-ano2-tri-mobile-first.vercel.app/img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}


.container {
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: 1em;
}


.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;/*AULA 5*/
  }
  

.container__botao:checked ~ .lista-menu {
    display: block;
}
.lista-menu__titulo,/*AULA 5*/
.lista-menu__item {/*AULA 5*/
  padding: 1em;/*AULA 5*/
  background-color: var(--branco);/*AULA 5*/
}
.lista-menu__titulo {/*AULA 5*/
    color: var(--laranja);/*AULA 5*/
    font-weight: 700;/*AULA 6*/
  }
  .lista-menu__link {/*AULA 5*/
    background: var(--azul-degrade);/*AULA 5*/
    -webkit-background-clip: text;/*AULA 5*/
    -webkit-text-fill-color: transparent;/*AULA 5*/
    background-clip: text;/*AULA 5*/
    text-transform: uppercase;/*AULA 5*/
  }
  .container__botao {/*AULA 6*/
    display: none;/*AULA 6*/
  }